<div class="col-sm-4 right" >
  <div class="alert alert-success alert-dismissable"  *ngIf="mensaje">
      <a class="close" (click)="closeAlert()">
          &times;
      </a>
      {{mensaje}}
  </div>
</div>
<div class="card-content p-2 publicar">
  <div class="row">
      <div class="col-sm-6" *ngFor="let oferta of ofertas; let i = index">
          <div class="card" >
              <div class="card-body">
                  <h5 class="card-title">{{oferta.titulo}}</h5>
                  <p class="card-text">{{oferta.descripcion}}</p>
                  <a (click)="editarOferta(i)" class="btn btn-info fg-white" (click)="open(content)">Editar</a>
                  <a (click)="eliminarOferta(i)" class="btn btn-warming">Eliminar</a>
              </div>
          </div>
      </div>
  </div>
</div>