
<div class="col-sm-4 right" >
  <div class="alert alert-success alert-dismissable"  *ngIf="mensaje">
      <a class="close" (click)="closeAlert()">
          &times;
      </a>
      {{mensaje}}
  </div>
</div>
<div class="col-sm-4 right" >
  <div class="alert alert-warning alert-dismissable"  *ngIf="mensaj">
      <a class="close" (click)="closeAlert()">
          &times;
      </a>
      {{mensaje}}
  </div>
</div>
<div class="publicar">
  <div class="row">
    <div class="col-12" style="height: 100px;">

    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 pretty-form">
      <div class="form-group">
        <label for="exampleInputEmail1">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Correo Electrónico"
            [(ngModel)]="email"
          />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="Ingresa tus nombres"
          [(ngModel)]="name"
        />
        <div class="form-group">
          <label for="exampleInputEmail1">Apellido</label>
          <input
            type="text"
            class="form-control"
            name="surname"
            placeholder="Ingresa tus apellidos"
            [(ngModel)]="surname"
          />
          </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Cedúla</label>
        <input
          type="number"
          maxlength=10
          class="form-control"
          name="identification_card"
          placeholder="Cédula"
          [(ngModel)]="identification_card"
        />
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Descripción</label>
          <input
            type="text"
            class="form-control"
            name="description"
            placeholder="Describete en pocas palabras"
            [(ngModel)]="description"
          />
        </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Teléfono</label>
        <input
          type="number"
          maxlength=10
          class="form-control"
          name="telephone"
          placeholder="Teléfono"
          [(ngModel)]="telephone"
        />
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Ingresa una contraseña"
            [(ngModel)]="password"
          />
          </div>
      <div class="row">
        <div class="col-12 text-right">
          <button type="button" class="button success" (click)="registrar()">
            Crear Cuenta
          </button>
          <a [routerLink]="['/login']" class="button">
            Regresar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

